<!DOCTYPE html >
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/CN.js?v={{date}}" ></script>
    <style>
        .hid{
            display: none;
        }
    </style>
</head>
<body>


{% include "navbar.htm" %}

<div id="stut" class="hid">{{stut}}</div>

<input type="number" class="hid" id="us" value="{{user_state}}">
<form method="GET" id="form">
    <div class="container col-sm-8 col-sm-offset-2 col-lg-5 col-lg-offset-4">
        <legend>Credit note form</legend>

            <div class="row">   
                <div class="alert alert-danger col-xs-12 hid" id="err"></div>
            </div>
            
            <div class="row form-group">
                <div class="col-sm-3 col-lg-4">
                    <label>Date</label>
                    <input type="text" name="date" class="form-control" id="date" required><br>
                </div>
                <!--<div class="col-sm-3 col-lg-4">
                <label>Sale size</label>
                <select name="sale_size" class="col-xs-4 form-control" id="sale_size" required>
                    <option value="<50K">Less than 50K</option>
                    <option value=">50K">More than 50K</option>
                </select>
                </div>-->
            </div>
            
            <div class="row form-group">
                <div class="col-sm-6">
                    <label>Invoice No.</label>
                    <input type="text" name="inv_no" id="inv_no" class="form-control cust" value="{{pre}}"><br>
                </div>
            </div>
            <div class="row form-group">
                <button type="button" id="fetch" class="btn btn-primary col-sm-4 col-xs-10 col-xs-offset-1">
                    Fetch
                </button>
            </div>
            
            <div class="row form-group">
                <div class="col-sm-6">
                    <label>Customer Name</label>
                    <input type="text" name="customer_name" id="customer_name" class="form-control cust" disabled><br>
                </div>
            
                
                <div class="col-sm-6">
                    <label>Customer's ID</label>
                    <input type="text" name="customer_id" id="customer_id" class="form-control cust disabled" disabled><br>
                </div>

            </div>
        
            <div class="row form-group">
                <div class="col-sm-12">
                    <label>Customer's Address</label>
                    <input type="textarea" name="customer_address" id="customer_address" class="form-control cust disabled" disabled><br>
                </div>
            </div>

            <div class="row form-group">
                <input type="hidden" name="state" id="state2" value="{{user_state}}">
                <input type="hidden" name="state_name" id="state_name">
                <div class="col-sm-6">
                    <label>Customer's state Name</label>
                    <select name="state" id="state" class="form-control disabled" disabled>
                        <option selected value="">State</option>
                        <option value="1">Jammu and Kashmir</option>
                        <option value="2">Himachal Pradesh</option>
                        <option value="3">Punjab</option>
                        <option value="4">Chandigarh</option>
                        <option value="5">Uttarakhand</option>
                        <option value="6">Haryana</option>
                        <option value="7">Delhi</option>
                        <option value="8">Rajasthan</option>
                        <option value="9">Uttar Pradesh</option>
                        <option value="10">Bihar</option>
                        <option value="11">Sikkim</option>
                        <option value="12">Arunachal Pradesh</option>
                        <option value="13">Nagaland</option>
                        <option value="14">Manipur</option>
                        <option value="15">Mizoram</option>
                        <option value="16">Tripura</option>
                        <option value="17">Meghalaya</option>
                        <option value="18">Assam</option>
                        <option value="19">West Bengal</option>
                        <option value="20">Jharkhand</option>
                        <option value="21">Odisha(Orissa)</option>
                        <option value="22">Chhattisgarh</option>
                        <option value="23">Madhya Pradesh</option>
                        <option value="24">Gujarat</option>
                        <option value="25">Daman and Diu</option>
                        <option value="26">Dardra and Nagara haveli</option>
                        <option value="27">Maharashtra</option>
                        <option value="28">Andhra Pradesh</option>
                        <option value="29">Karnataka</option>
                        <option value="30">Goa</option>
                        <option value="31">Lakshadweep</option>
                        <option value="32">Kerala</option>
                        <option value="33">Tamil Nadu</option>
                        <option value="34">Puducherry</option>
                        <option value="35">Andaman and Nicobar island</option>
                        <option value="36">Telangana</option>

                    </select>
                </div>
                <div class="col-sm-6">
                    <label>Place of supply</label>
                    <input type="hidden" name="place_of_supply" id="place_of_supply2" value="{{user_state}}" disabled>
                    <!-- <input type="hidden" name="place_of_supply_name" id="place_of_supply_name"> -->
                    <select name="place_of_supply" id="place_of_supply" class="form-control disabled" required disabled>
                        <option selected value="">State</option>
                        <option value="1">Jammu and Kashmir</option>
                        <option value="2">Himachal Pradesh</option>
                        <option value="3">Punjab</option>
                        <option value="4">Chandigarh</option>
                        <option value="5">Uttarakhand</option>
                        <option value="6">Haryana</option>
                        <option value="7">Delhi</option>
                        <option value="8">Rajasthan</option>
                        <option value="9">Uttar Pradesh</option>
                        <option value="10">Bihar</option>
                        <option value="11">Sikkim</option>
                        <option value="12">Arunachal Pradesh</option>
                        <option value="13">Nagaland</option>
                        <option value="14">Manipur</option>
                        <option value="15">Mizoram</option>
                        <option value="16">Tripura</option>
                        <option value="17">Meghalaya</option>
                        <option value="18">Assam</option>
                        <option value="19">West Bengal</option>
                        <option value="20">Jharkhand</option>
                        <option value="21">Odisha(Orissa)</option>
                        <option value="22">Chhattisgarh</option>
                        <option value="23">Madhya Pradesh</option>
                        <option value="24">Gujarat</option>
                        <option value="25">Daman and Diu</option>
                        <option value="26">Dardra and Nagara haveli</option>
                        <option value="27">Maharashtra</option>
                        <option value="28">Andhra Pradesh</option>
                        <option value="29">Karnataka</option>
                        <option value="30">Goa</option>
                        <option value="31">Lakshadweep</option>
                        <option value="32">Kerala</option>
                        <option value="33">Tamil Nadu</option>
                        <option value="34">Puducherry</option>
                        <option value="35">Andaman and Nicobar island</option>
                        <option value="36">Telangana</option>
                        
                        

                    </select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-6">
                    <label>Customer status</label>
                    <select name="reg" id="reg" class="form-control cust disabled" disabled>
                        <option value="Unregistered">Unregistered</option>
                        <option  value="Registered">Registered</option>
                    </select>
                </div>
            
                <div class="col-sm-6">
                    <label>Customer's GSTN<br></label>
                    <input type="text" name="GSTN" id="GSTN" class="form-control cust disabled" required disabled><br>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-xs-4">Calculate tax</label>
                <div class="col-xs-4"><input type="checkbox" name="" id="calc">Applicable</div><div class="col-xs-4"></div>
            </div>

            <div class="row form-group">
                <div class="col-sm-6">
                    <label>Amount/Item</label>
                    <select name="amm_itm" id="amm_itm" class="form-control cust">
                        <option>Amount</option>
                        <option>Item</option>
                    </select>
                </div>
            </div>

            <div class="row form-group amount">
                <div class="col-sm-6">
                    <label>Amount</label>
                    <input type="number" step="0.01" min="0" name="amount" id="amount" class="form-control"><br>
                </div>
                <div class="col-sm-6">
                    <label>Tax Rate</label>
                    <input type="number" step="0.01" min="0" name="taxxr" id="taxxr" class="form-control" disabled><br>
                </div>
            </div>


            <div class="row form-group hid itm">
                <div class="col-sm-12">
                    <label>Item name</label>
                    <input type="text" name="" id="item_name" class="form-control"><br>
                </div>
                <div class="col-xs-4">
                    <label>Quantity</label>
                    <input type="number" step="0.01"  id="quantity" class="form-control"><br>
                </div>
                <div class="col-xs-4">
                    <label>Rate</label>
                    <input type="number" step="0.01"  id="rate" class="form-control"><br>
                </div>
                <div class="col-xs-4">
                    <label>discount</label>
                    <input type="number" step="0.01"  id="discount" class="form-control"><br>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary col-xs-offset-1 col-xs-10" id="add_item">Add Item</button><br>
                </div>
            </div>

            <div class="row table table-reposnsive hid itm">
                <table id="item_list" class="col-sm-12">
                    <tr class="row"> <th class="col-xs-2">Item Name</th> <th class="col-xs-2">Item code</th><th class="col-xs-2">HSN</th><th  class="col-xs-2">Quantity</th><th  class="col-xs-2">Rate</th><th  class="col-xs-2">Tax</th></tr>
                        
                </table>
            </div>

            <div class="row table table-reposnsive hid itm">
                <table id="item_list_" class="col-sm-12">
                    <tr class="row"> <th class="col-xs-2">Item Name</th><th class="col-xs-2">discount</th> <th class="col-xs-2">Amount</th><th class="col-xs-2">CGST</th><th class="col-xs-2">{{stut}}</th><th  class="col-xs-2">IGST</th></tr>
                        
                </table>
            </div>
            
            <div class="row form-group">
                
                <div class="col-sm-6">
                    <label>EBN</label>
                    <input type="text" name="ebn" id="ebn" class="form-control"><br>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-xs-4">Transporter details</label>
                <div class="col-xs-4"><input type="checkbox" name="" id="td">Applicable</div><div class="col-xs-4"></div>
            </div>

            <div class="row form-group">
                <div class="col-sm-6">
                    <label>Transport mode</label>
                    <input type="text" name="transport_mode" class="form-control tdd" disabled><br>
                </div>

                <div class="col-sm-6">
                    <label>Vehicle number</label>
                    <input type="text" name="vehicle_number" class="form-control tdd" disabled><br>
                </div>
            </div>

           

            <div class="row form-group">
                <label class="col-xs-4">Other charges</label>
                <div class="col-xs-4"><input type="checkbox" name="" id="oc">Applicable</div><div class="col-xs-4"></div>
            </div>

            <div class="row form-group">
                <div class="col-sm-6">
                    <label>Frieght</label>
                    <input type="number" step="0.01" name="frieght" class="form-control occ" disabled><br>
                </div>

                <div class="col-sm-6">
                    <label>Loading</label>
                    <input type="number" step="0.01" name="loading" class="form-control occ" disabled><br>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-6">
                    <label>Insurance</label>
                    <input type="number" step="0.01" name="insurance" class="form-control occ" disabled><br>
                </div>

                <div class="col-sm-6">
                    <label>Other charges</label>
                    <input type="number" step="0.01" name="other_charges" class="form-control occ" disabled><br>
                </div>
            </div>

            <!--<div class="row form-group">
                
                <div class="col-sm-4">
                    <label>TDS(GST)</label>
                    <input type="number" step="0.01" name="tds1" id="tds1_rate" class="form-control disabled" disabled><br>
                </div>

                <div class="col-sm-8">
                    <label></label>
                    <input type="number" step="0.01" name="tds1" id="tds1" class="form-control disabled" disabled><br>
                </div>

            </div>
            <div class="row form-group">
                <div class="col-sm-4">
                    <label>TDS(Income Tax)</label>
                    <input type="number" step="0.01" name="tds1" id="tds2_rate" class="form-control disabled" disabled><br>
                </div>
            
                <div class="col-sm-8">
                    <label></label>
                    <input type="number" step="0.01" name="tds2" id="tds2" class="form-control" disabled><br>
                </div>
            </div>-->

            <div class="row form-group">
                <div class="col-sm-12">
                    <label>Other details</label>
                    <input type="text" name="tds2_text" id="tds_text" class="form-control" disabled><br>
                </div>
            </div>

            <div class="row form-group inter hid">
                <div class="col-sm-12">
                    <label>Total IGST</label>
                    <input type="number" step="0.01" name="igst" id="igst" class="form-control" required disabled><br>
                </div>
            </div>

            <div class="row form-group intra">
                <div class="col-sm-6">
                    <label>Total CGST</label>
                    <input type="number" step="0.01" name="cgst" id="cgst" class="form-control" required disabled><br>
                </div>
                <div class="col-sm-6">
                    <label>Total {{stut}}</label>
                    <input type="number" step="0.01" name="sgst" id="sgst" class="form-control" required disabled><br>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    <label>Amount payable</label>
                    <input type="number" step="0.01" name="amount_payable" id="amount_payable" class="form-control" required disabled><br>
                </div>
            </div>

            <!--<div class="row form-group">
                <div class="col-sm-12">
                    <label>Advance</label>
                    <input type="text" name="advance" id="advance" class="form-control" disabled><br>
                </div>
            </div>-->

            
        <div class="row">
            <button type="submit" class="btn btn-primary col-xs-offset-3 col-xs-6" id="submit" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Please wait...">Submit</button><br>
        </div>
        <div></div>
    
    </div>
</form>

</body>
</html>
