<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/purchase.js?v=0.58" ></script>
    <style>
        .hid{
            display: none;
        }
    </style>
</head>
<body>
{% include "navbar.htm" %}
<div id="stut" class="hid">{{stut}}</div>
<form method="GET" id="form">
    <div class="container col-sm-8 col-sm-offset-2 col-lg-5 col-lg-offset-4">
        <legend>Purchase form</legend>

            <div class="row">   
                <div class="alert alert-danger col-xs-12 hid" id="err"></div>
            </div>
            
            <div class="row form-group">
                <div class="col-sm-3 col-lg-4">
                    <label>Date</label>
                    <input type="text" name="date" class="form-control" id="date" required><br>
                </div>
                <div class="col-sm-4 col-lg-4 col-lg-offset-4 col-sm-offset-4">
                    <label>Type of purchase</label>
                    <select name="purchase_type" id="purchase_type" class="form-control" required>
                        <option value="">Select</option>
                        <option value="1">Stock</option>
                        <option value="2">Fixed asset</option>
                        <option value="3">Other purchase</option>
                    </select>
                </div>
            </div>

            
            
            <div class="row form-group">
                <div class="col-sm-6">
                    <label>Vendor Name</label>
                    <input type="text" name="vendor_name" id="vendor_name" class="form-control" required><br>
                </div>
            
                
                <div class="col-sm-6">
                    <label>Vendor's ID</label>
                    <input type="text" name="vendor_id" id="vendor_id" class="form-control disabled" required disabled><br>
                </div>

            </div>
        
            <div class="row form-group">
                <div class="col-sm-12">
                    <label>Vendor's Address</label>
                    <input type="textarea" name="vendor_address" id="vendor_address" class="form-control disabled" required disabled><br>
                </div>
            </div>

            <div class="row form-group">

                <div class="col-sm-6">
                    <label>Vendor's state code</label>
                    <input type="text" name="state" id="state" class="form-control disabled" required disabled><br>
                </div>
                <div class="col-sm-6">
                    <label>Vendor's state Name</label>
                    <input type="text" name="state_name" id="state_name" class="form-control disabled" required disabled><br>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-6">
                    <label>Vendor status</label>
                    <input type="text" name="reg" id="reg" class="form-control disabled" required disabled><br>
                </div>
            
                <div class="col-sm-6">
                    <label>Vendor's GSTN<br></label>
                    <input type="text" name="GSTN" id="GSTN" class="form-control disabled" required disabled><br>
                </div>
                <div class="col-sm-6">
                    <label>Place of supply</label>
                    <select name="place_of_supply" id="place_of_supply" class="form-control" required>
                        
                        <option selected value="">State</option>
                        <option value="1">Jammu and Kashmir</option>
                        <option value="2">Himachal Pradesh</option>
                        <option value="3">Punjab</option>
                        <option value="4">Chandigarh</option>
                        <option value="5">Uttarakhand</option>
                        <option value="6">Haryana</option>
                        <option value="7">Delhi</option>
                        <option value="8">Rajasthan</option>
                        <option value="9">Uttar Pradesh</option>
                        <option value="10">Bihar</option>
                        <option value="11">Sikkim</option>
                        <option value="12">Arunachal Pradesh</option>
                        <option value="13">Nagaland</option>
                        <option value="14">Manipur</option>
                        <option value="15">Mizoram</option>
                        <option value="16">Tripura</option>
                        <option value="17">Meghalaya</option>
                        <option value="18">Assam</option>
                        <option value="19">West Bengal</option>
                        <option value="20">Jharkhand</option>
                        <option value="21">Odisha(Orissa)</option>
                        <option value="22">Chhattisgarh</option>
                        <option value="23">Madhya Pradesh</option>
                        <option value="24">Gujarat</option>
                        <option value="25">Daman and Diu</option>
                        <option value="26">Dardra and Nagara haveli</option>
                        <option value="27">Maharashtra</option>
                        <option value="28">Andhra Pradesh</option>
                        <option value="29">Karnataka</option>
                        <option value="30">Goa</option>
                        <option value="31">Lakshadweep</option>
                        <option value="32">Kerala</option>
                        <option value="33">Tamil Nadu</option>
                        <option value="34">Puducherry</option>
                        <option value="35">Andaman and Nicobar island</option>
                        <option value="36">Telangana</option>
                        
                        

                    </select>
                </div>
            </div>
            <div class="row form-group">
                <!-- <div class="col-xs-12"> -->
                    <label class="col-xs-4">Reverse Charge applicable</label>
                    <input type="hidden" name="reverse_charge" value="0">
                    <div class="col-xs-4 col-xs-offset-"><input type="checkbox" name="reverse_charge" id="reverse_charge" class="" value="1" disabled></div><br>
                <!-- </div> -->
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    <label>Item name</label>
                    <input type="text" name="" id="item_name" class="form-control"><br>
                </div>
                <div class="col-xs-4">
                    <label>Quantity</label>
                    <input type="number" step="0.01"  id="quantity" class="form-control"><br>
                </div>
                <div class="col-xs-4">
                    <label>Rate</label>
                    <input type="number" step="0.01"  id="rate" class="form-control"><br>
                </div>
                <div class="col-xs-4">
                    <label>discount</label>
                    <input type="number" step="0.01"  id="discount" class="form-control"><br>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary col-xs-offset-1 col-xs-10" id="add_item">Add Item</button><br>
                </div>
            </div>

            <div class="row table table-reposnsive">
                <table id="item_list" class="col-sm-12">
                    <tr class="row"> <th class="col-xs-2">Item Name</th> <th class="col-xs-2">Item code</th><th class="col-xs-2">HSN</th><th  class="col-xs-2">Quantity</th><th  class="col-xs-2">Rate</th><th  class="col-xs-2">Tax</th></tr>
                        
                </table>
            </div>

            <div class="row table table-reposnsive">
                <table id="item_list_" class="col-sm-12">
                    <tr class="row"> <th class="col-xs-2">Item Name</th><th class="col-xs-2">discount</th> <th class="col-xs-2">Amount</th><th class="col-xs-2">CGST</th><th class="col-xs-2">{{stut}}</th><th  class="col-xs-2">IGST</th></tr>
                        
                </table>
            </div>

            <div class="row form-group">
                
                <div class="col-sm-6">
                    <label>EBN</label>
                    <input type="text" name="ebn" id="ebn" class="form-control"><br>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-xs-4">Transporter details</label>
                <div class="col-xs-4"><input type="checkbox" name="" id="td">Applicable</div><div class="col-xs-4"></div>
            </div>

            <div class="row form-group">
                <div class="col-sm-6">
                    <label>Transport mode</label>
                    <input type="text" name="transport_mode" class="form-control tdd" disabled><br>
                </div>

                <div class="col-sm-6">
                    <label>Vehicle number</label>
                    <input type="text" name="vehicle_number" class="form-control tdd" disabled><br>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-xs-4">Other charges</label>
                <div class="col-xs-4"><input type="checkbox" name="" id="oc">Applicable</div><div class="col-xs-4"></div>
            </div>

            <div class="row form-group">
                <div class="col-sm-6">
                    <label>Frieght</label>
                    <input type="number" step="0.01" name="frieght" class="form-control occ" disabled><br>
                </div>

                <div class="col-sm-6">
                    <label>Loading</label>
                    <input type="number" step="0.01" name="loading" class="form-control occ" disabled><br>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-6">
                    <label>Insurance</label>
                    <input type="number" step="0.01" name="insurance" class="form-control occ" disabled><br>
                </div>

                <div class="col-sm-6">
                    <label>Other charges</label>
                    <input type="number" step="0.01" name="other_charges" class="form-control occ" disabled><br>
                </div>
            </div>

            <div class="row form-group">
                
                <div class="col-sm-4">
                    <label>TDS(GST)</label>
                    <input type="number" step="0.01" name="tds1" id="tds1_rate" class="form-control disabled"><br>
                </div>

                <div class="col-sm-8">
                    <label></label>
                    <input type="number" step="0.01" name="tds1" id="tds1" class="form-control disabled" disabled><br>
                </div>

            </div>
            <div class="row form-group">
                <div class="col-sm-4">
                    <label>TDS(Income Tax)</label>
                    <input type="number" step="0.01" name="tds1" id="tds2_rate" class="form-control disabled"><br>
                </div>
            
                <div class="col-sm-8">
                    <label></label>
                    <input type="number" step="0.01" name="tds2" id="tds2" class="form-control" disabled><br>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    <label>Other details</label>
                    <input type="text" name="tds2_text" id="tds_text" class="form-control"><br>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    <label>Amount payable</label>
                    <input type="number" step="0.01" name="amount_payable" id="amount_payable" class="form-control" required><br>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    <label>Advance</label>
                    <input type="text" name="advance" id="advance" class="form-control"><br>
                </div>
            </div>

            <div class=" row form-group">
                <div class="col-xs-6">
                    <label class="col-xs-1">Blocked Credit</label>
                    <input type="hidden" name="blocked_credit" value="0">
                    <div class="col-xs-1 col-xs-offset-6"><input type="checkbox" name="blocked_credit" id="blocked_credit" class="" value="1"></div><br>
                </div>
            </div>

            <div class=" row form-group">
                <div class="col-xs-6">
                    <label class="col-xs-1">paid</label>
                    <input type="hidden" name="paid" value="0">
                    <div class="col-xs-1 col-xs-offset-6"><input type="checkbox" name="paid" id="paid" class="" value="1"></div><br>
                </div>
            </div>
            <div class=" row form-group">            
                <div class="col-sm-9 col-lg-9">
                    <label class="col-xs-6">Payment method</label>
                    <div class="col-xs-6">
                    <select name="payment_method" id="payment_method" class="form-control" disabled required>
                        <option value="">Select</option>
                        <option value="1">Bank</option>
                        <option value="0">Cash</option>
                    </select>
                    </div>
                </div>
            </div>

            
        <div class="row">
            <button type="submit" class="btn btn-primary col-xs-offset-3 col-xs-6" id="submit" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Please wait...">Submit</button><br>
        </div>
        <div></div>
    
    </div>
</form>

</body>
</html>
